@import url('https://fonts.googleapis.com/css?family=Noto+Serif');
h2 {
  font-family: 'Noto Serif', serif;
}

.school p {
  margin-top: 40px;
}

li {
  list-style-type: none;
}
h3 {
  font-weight: 100;
  padding: 10px;
}
/* TABLE */
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}